[submodule "renesas_evh/MNN_renesas"]
	path = renesas_evh/MNN_renesas
	url = https://github.com/Embedded-AI-Systems/MNN-NPU.git
[submodule "GKMNet"]
	path = GKMNet
	url = https://github.com/csZcWu/GKMNet.git
